* {
    font-family: Arial;
}

header {
    background-color: #C0C0C0;
    width: 844px;
    height: 86px;
}

h1 {
    font-size: 20px;
}

#PageWrapper {
    width: 844px;
    margin: auto;
}

nav {
    width: 844px;
}

section#MainContent {
    width: 664px;
    float: left;
}

aside {
    background-color: Gray;
    width: 180px;
    float: left;
}

footer {
    background-color: #C0C0C0;
    width: 844px;
    clear: both;
}

section#MainContent a {
    color: #00ff21;
    text-decoration: underline;
}

    section#MainContent a:visited {
        color: #FF0000;
        text-decoration: underline;
    }

    section#MainContent a:hover {
        color: #FFA500;
        text-decoration: underline;
    }
